// sass-lint:disable no-css-comments
/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */
@use 'sass:math';
@import '../styles/normalize';

$break-point-small: 570px;
$break-point-medium: 610px;
$break-point-large: 866px;
$logo-size: 80px;

html {
  height: 100%;
}

body {
  // sass-lint:disable no-color-literals
  --grey-subtitle-1: #696977;
  --welcome-header-text-color-1: #20133A;
  --newtab-button-secondary-color: #0060DF;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Ubuntu',
  'Helvetica Neue', sans-serif;
  font-size: 16px;
  position: relative;

  &[lwt-newtab-brighttext] {
    --grey-subtitle-1: #FFF;
    --welcome-header-text-color-1: #7542E5;
    --newtab-button-secondary-color: #FFF;
  }
}

.onboardingContainer {
  text-align: center;
  overflow-x: auto;
  height: 100vh;
  background: radial-gradient(79.33% 221.6% at 7.58% 89.55%, #15141A 0%, rgba(21, 20, 26, 0) 54.36%, rgba(21, 20, 26, 0.63) 100%) center / cover no-repeat fixed;
  background-color: #212121;

  @media (prefers-contrast: more) {
    background-color: var(--in-content-page-background);
  }

  --main-content-min-height: 271px;

  // Transition all of these and reduced motion effectively only does opacity.
  --transition: 0.6s opacity, 0.6s scale, 0.6s rotate, 0.6s translate;

  // Define some variables that are used for in/out states.
  @media (prefers-reduced-motion: no-preference) {
    --translate: 30px;
    --rotate: 20deg;
    --scale: 0.4;

    // Scale is used for noodles that can be flipped.
    &:dir(rtl) {
      --scale: -0.4 0.4;
    }
  }

  // Use default values that match "unmoved" state to avoid motion.
  @media (prefers-reduced-motion: reduce) {
    --translate: 0;
    --rotate: 0deg;
    --scale: 1;

    &:dir(rtl) {
      --scale: -1 1;
    }
  }

  &:dir(rtl) {
    transform: rotateY(180deg);
  }

  .section-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .main-content {
    background-color: var(--in-content-page-background);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
    transition: var(--transition);
    z-index: 1;

    &.no-steps {
      padding-bottom: 48px;
    }

    .main-content-inner {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      justify-content: space-around;
    }
  }

  .screen {
    display: flex;
    position: relative;
    flex-flow: row nowrap;
    height: 100%;
    min-height: 500px;
    overflow: hidden;

    &:dir(rtl) {
      transform: rotateY(180deg);
    }
  }

  .brand-logo {
    background: url('chrome://branding/content/about-logo.svg') top center / $logo-size no-repeat;
    padding: $logo-size 0 10px;
    margin-top: 60px;
    transition: var(--transition);

    &.cta-top {
      margin-top: 25px;
    }

    &.hide {
      visibility: hidden;
      padding: unset;
      margin-top: 50px;
    }
  }

  .welcome-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
    transition: var(--transition);

    h1,
    h2 {
      color: var(--in-content-page-color);
    }

    h1 {
      font-size: 24px;
      line-height: 36px;
      font-weight: 600;
      margin: 0 6px;
      letter-spacing: -0.02em;
      width: 283px;
      outline: none;
    }

    h2 {
      font-size: 16px;
      font-weight: normal;
      margin: 10px 6px 0;
      line-height: 24px;
      max-width: 750px;
      letter-spacing: -0.01em;
    }
  }

  .welcomeZap {
    span {
      position: relative;
      z-index: 1;
      white-space: nowrap;
    }

    .zap {
      &::after {
        display: block;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        content: '';
        position: absolute;
        top: calc(100% - 0.15em);
        width: 100%;
        height: 0.3em;
        left: 0;
        z-index: -1;
      }

      &.short::after {
        background-image:  url('chrome://activity-stream/content/data/content/assets/short-zap.svg');
      }

      &.long::after {
        background-image:  url('chrome://activity-stream/content/data/content/assets/long-zap.svg');
      }
    }
  }

  .tiles-theme-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px auto;

    &.colorway {
      flex-direction: column-reverse;
    }
  }

  .sr-only {
    opacity: 0;
    overflow: hidden;
    position: absolute;

    &.input {
      height: 1px;
      width: 1px;
    }
  }

  .colorway-variations {
    align-items: center;
    color: #000;
    display: flex;
    flex-direction: column;
    height: 190px;
    margin-bottom: 10px;
    padding-top: 34px;
    position: relative;
    transition: var(--transition);
    width: 190px;

    /* Show a custom background image that transitions for each theme. */
    &::before {
      background-size: 100%;
      content: '';
      height: 197px;
      left: -48px;
      margin: auto;
      pointer-events: none;
      position: absolute;
      top: -7px;
      transition: 0.5s opacity, 0.5s rotate, 0.5s scale;
      width: 286px;
      z-index: -1;
    }

    &.in::before {
      rotate: calc(-4.5 * var(--rotate));
      transition: none;
    }

    &:where(.in, .out)::before {
      opacity: 0;
      rotate: calc(4.5 * var(--rotate));
      scale: var(--scale);
    }

    /* Stack a disc background above the custom background image and below other
     * content so that we can transform the parent variations element. Use a
     * similar ::after disc to cover up content while transitioning. */
    .variations-disc,
    &::after {
      background: center / cover;
      border-radius: 100%;
      height: 190px;
      left: 0;
      pointer-events: none;
      position: absolute;
      top: 0;
      width: 190px;
    }

    .variations-disc {
      z-index: -1;
    }

    &::after {
      content: '';
      opacity: 0;
      transition: 0.4s opacity;
    }

    &.out::after {
      opacity: 1;
    }

    &.default .variations-disc,
    &[next='default']::after {
      /* Gradients aren't used for high contrast, so show a solid color instead. */
      background-color: var(--in-content-page-background);
      background-image: linear-gradient(#F0F0F4, #9F9FAD);
      outline: 2px solid var(--in-content-button-border-color);
      outline-offset: -2px;
    }

    &.default::before {
      background-image: url('chrome://browser/skin/upgradeDialog/default.png');
    }

    &.abstract .variations-disc,
    &[next='abstract']::after {
      background-image: url('resource://builtin-themes/monochromatic/abstract/balanced/icon.svg');
    }

    &.abstract::before {
      background-image: url('chrome://browser/skin/upgradeDialog/abstract.png');
    }

    &.cheers .variations-disc,
    &[next='cheers']::after {
      background-image: url('resource://builtin-themes/monochromatic/cheers/balanced/icon.svg');
    }

    &.cheers::before {
      background-image: url('chrome://browser/skin/upgradeDialog/cheers.png');
    }

    &.elemental .variations-disc,
    &[next='elemental']::after {
      background-image: url('resource://builtin-themes/monochromatic/elemental/balanced/icon.svg');
    }

    &.elemental::before {
      background-image: url('chrome://browser/skin/upgradeDialog/elemental.png');
    }

    &.foto .variations-disc,
    &[next='foto']::after {
      background-image: url('resource://builtin-themes/monochromatic/foto/balanced/icon.svg');
    }

    &.foto::before {
      background-image: url('chrome://browser/skin/upgradeDialog/foto.png');
    }

    &.graffiti .variations-disc,
    &[next='graffiti']::after {
      background-image: url('resource://builtin-themes/monochromatic/graffiti/balanced/icon.svg');
    }

    &.graffiti::before {
      background-image: url('chrome://browser/skin/upgradeDialog/graffiti.png');
    }

    &.lush .variations-disc,
    &[next='lush']::after {
      background-image: url('resource://builtin-themes/monochromatic/lush/balanced/icon.svg');
    }

    &.lush::before {
      background-image: url('chrome://browser/skin/upgradeDialog/lush.png');
    }

    .colorway:focus-within {
      border-radius: 4px;
      outline: 2px solid rgba(0, 0, 0, 0.64);
      outline-offset: -1px;
    }

    .colorway-text {
      font-size: 16px;
      font-weight: bold;
      line-height: 24px;
      margin-bottom: 15px;
    }

    .variation-button {
      font-size: 12px;
      line-height: 12px;
      padding: 6px 12px;
      width: auto;
      height: 24px;
      margin: 3px;
      min-height: 24px;

      &:hover {
        background: rgba(0, 0, 0, 0.2);
        border-radius: 2px;
      }

      &.selected,
      &:active {
        background: rgba(0, 0, 0, 0.64);
        border-radius: 2px;
        color: #FFF;
      }

      @media (prefers-contrast: more) {
        outline: 2px solid var(--in-content-button-border-color);
        border-radius: 2px;

        &.selected,
        &:active {
          background: var(--in-content-box-background);
          color: var(--in-content-text-color);
        }

        &:hover {
          background: var(--in-content-primary-button-background);
          color: var(--in-content-primary-button-text-color);
        }
      }
    }

    .colorway-text,
    .variation-button {
      transition: 0.4s opacity, 0.4s translate;
    }

    &.in :is(.colorway-text, .variation-button) {
      opacity: 0;
      transition: none;
      translate: 0 calc(var(--translate) / -3);
    }

    &.out :is(.colorway-text, .variation-button) {
      opacity: 0;
      translate: 0 calc(var(--translate) / 3);
    }

    .colorway:nth-of-type(1) .variation-button {
      transition-delay: 0.1s;
    }

    .colorway:nth-of-type(2) .variation-button {
      transition-delay: 0.2s;
    }

    .colorway:nth-of-type(3) .variation-button {
      transition-delay: 0.3s;
    }
  }

  .tiles-theme-section {
    border: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 5px; // sass-lint:disable-line no-misspelled-properties
    justify-content: space-evenly;
    margin-inline: 10px;
    padding: 10px;
    transition: var(--transition);

    &:hover,
    &:active,
    &:focus-within {
      border-radius: 8px;
      outline: 2px solid var(--in-content-primary-button-background);
    }

    .theme {
      align-items: center;
      display: flex;
      flex-direction: column;
      flex: 1;
      padding: 0;
      min-width: 50px;
      width: 180px;
      color: #000;
      box-shadow: none;
      border-radius: 4px;
      cursor: pointer;
      z-index: 0;

      &.colorway {
        width: auto;
      }

      &:focus,
      &:active {
        outline: initial;
        outline-offset: initial;
      }

      .icon {
        background-size: cover;
        width: 40px;
        height: 40px;
        border-radius: 40px;
        outline: 1px solid var(--in-content-border-color);
        outline-offset: -0.5px;
        z-index: -1;

        &.colorway {
          width: 20px;
          height: 20px;
        }

        &:dir(rtl) {
          transform: scaleX(-1);
        }

        &:focus,
        &:active,
        &.selected {
          outline: 2px solid var(--in-content-primary-button-background);
          outline-offset: 2px;
        }

        &.light {
          background-image: url('resource://builtin-themes/light/icon.svg');
        }

        &.dark {
          background-image: url('resource://builtin-themes/dark/icon.svg');
        }

        &.alpenglow {
          background-image: url('resource://builtin-themes/alpenglow/icon.svg');
        }

        &.default,
        &.automatic {
          background-image: url('resource://default-theme/icon.svg');
        }

        &.abstract {
          background-image: url('resource://builtin-themes/monochromatic/abstract/balanced/icon.svg');
        }

        &.cheers {
          background-image: url('resource://builtin-themes/monochromatic/cheers/balanced/icon.svg');
        }

        &.elemental {
          background-image: url('resource://builtin-themes/monochromatic/elemental/balanced/icon.svg');
        }

        &.foto {
          background-image: url('resource://builtin-themes/monochromatic/foto/balanced/icon.svg');
        }

        &.graffiti {
          background-image: url('resource://builtin-themes/monochromatic/graffiti/balanced/icon.svg');
        }

        &.lush {
          background-image: url('resource://builtin-themes/monochromatic/lush/balanced/icon.svg');
        }
      }

      .text {
        display: flex;
        color: var(--in-content-page-color);
        font-size: 14px;
        font-weight: normal;
        line-height: 20px;
        margin-inline-start: 0;
        margin-top: 9px;
      }
    }

    legend {
      cursor: default;
    }
  }

  .tiles-container {
    margin: 10px auto;

    &.info {
      padding: 6px 12px 12px;

      &:hover,
      &:focus {
        background-color: rgba(217, 217, 227, 0.3);
        border-radius: 4px;
      }
    }
  }

  .tiles-delayed {
    animation: fadein 0.4s;
  }

  @keyframes fadein {
    from { opacity: 0; }
  }

  .secondary-cta {
    display: flex;
    align-items: end;
    flex-direction: row;
    justify-content: center;
    font-size: 14px;
    transition: var(--transition);

    .secondary {
      background: none;
      color: var(--in-content-link-color);
      font-size: 14px;
      font-weight: normal;
      line-height: 20px;
    }

    &.top {
      justify-content: end;
      padding-inline-end: 30px;
      padding-top: 4px;
      position: absolute;
      top: 10px;
      inset-inline-end: 20px;
      z-index: 2;

      button {
        color: #FFF;

        &:hover {
          background-color: #5B5B66;
          color: #E0E0E6;
        }

        @media (max-height: $break-point-small) {
          color: var(--in-content-link-color);

          &:hover {
            background-color: #5B5B66;
            color: var(--in-content-link-color-hover);
            text-decoration: underline;
          }
        }
      }
    }

    span {
      color: var(--grey-subtitle-1);
      margin: 0 4px;
    }
  }

  .message-text,
  .attrib-text {
    transition: var(--transition);
  }

  .helptext {
    padding: 1em;
    text-align: center;
    color: var(--grey-subtitle-1);
    font-size: 12px;
    line-height: 18px;

    &.default {
      align-self: center;
      max-width: 40%;
    }

    span {
      padding-inline-end: 4px;
    }
  }

  .helptext-img {
    height: 1.5em;
    width: 1.5em;
    margin-inline-end: 4px;
    vertical-align: middle;

    &.end {
      margin: 4px;
    }

    &.footer {
      vertical-align: bottom;
    }
  }

  .steps {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 0;
    padding-block: 16px 0;
    transition: var(--transition);
    z-index: -1;

    &.has-helptext {
      padding-bottom: 0;
    }

    .indicator {
      width: 0;
      height: 0;
      margin-inline-end: 4px;
      margin-inline-start: 4px;
      background: var(--grey-subtitle-1);
      border-radius: 5px;
      // using border will show up in Windows High Contrast Mode to improve accessibility.
      border: 3px solid var(--in-content-button-text-color);
      opacity: 0.25;

      &.current {
        opacity: 1;
        border-color: var(--checkbox-checked-bgcolor);

        // This is the only step shown, so visually hide it to maintain spacing.
        &:last-of-type:first-of-type {
          opacity: 0;
        }
      }
    }
  }

  .primary {
    font-size: 13px;
    line-height: 16px;
    padding: 11px 15px;
    transition: var(--transition);
  }

  // Styles specific to background noodles, with screen-by-screen positions
  .noodle {
    display: block;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: absolute;
    transition: var(--transition);

    // Flip noodles in a way that combines individual transforms.
    &:dir(rtl) {
      scale: -1 1;
    }
  }

  .confetti {
    display: block;
    margin: auto;
    background-image: url('chrome://activity-stream/content/data/content/assets/confetti.svg');
    background-position: top;
    background-size: 100%;
    background-repeat: no-repeat;
    height: 438px;
    width: 504px;
    position: absolute;
    z-index: -1;

    @media (max-width: $break-point-large) {
      height: 400px;
      width: 450px;
    }

    @media (max-width: $break-point-medium) {
      height: 370px;
      width: 420px;
    }
  }

  .outline-L {
    background-image: url('chrome://activity-stream/content/data/content/assets/noodle-outline-L.svg');
  }

  .solid-L {
    background-image: url('chrome://activity-stream/content/data/content/assets/noodle-solid-L.svg');
    -moz-context-properties: fill;
    fill: var(--in-content-page-background);
  }

  .purple-C {
    background-image: url('chrome://activity-stream/content/data/content/assets/noodle-C.svg');
    -moz-context-properties: fill;
    fill: #E7258C;
  }

  .orange-L {
    background-image: url('chrome://activity-stream/content/data/content/assets/noodle-solid-L.svg');
    -moz-context-properties: fill;
    fill: #FFA437;
  }

  .screen-0 {
    min-width: 700px;

    .section-left {
      display: flex;
      flex-direction: column;
      margin-inline-start: 6vw;

      .message-text {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .spacer-top {
          flex: 2;
        }

        .spacer-bottom {
          flex: 1;
        }

        h1 {
          color: #FFF;
          font-weight: bold;
          font-size: clamp(48px, 7vw, 104px);
          line-height: 1em;
          margin: 0 6px;
          max-width: 5em;
          text-align: initial;
          white-space: pre-wrap;
        }
      }

      .attrib-text {
        height: 18px;
        margin-bottom: 25px;
        text-align: initial;
        font-size: 12px;
        line-height: 18px;
        color: #F9F9FB;
        text-shadow: 0 0 7px rgba(0, 0, 0, 0.6);
        transition-delay: 0.5s;
      }
    }

    .section-main {
      flex-shrink: 0;
      width: 490px;
      z-index: 1;

      .main-content {
        background: transparent;
        display: block;
        position: absolute;
        height: 350px;
        bottom: -60px;
        inset-inline-end: 80px;
        transition: var(--transition);
      }

      .brand-logo {
        margin-top: 0;
        transition-delay: 1.2s;
      }

      .primary,
      .secondary-cta:not(.top) {
        transition-delay: 1.7s;
      }

      .secondary-cta.top {
        transition-delay: 0.5s;
      }

      .welcome-text {
        transition-delay: 1.2s;
      }
    }

    // Position of noodles on first screen
    .solid-L {
      width: 1300px;
      height: 1050px;
      bottom: -390px;
      inset-inline-end: -640px;
      transform: rotate(-80deg);
      transition-delay: 0.5s;
    }

    .orange-L {
      width: 466px;
      height: 356px;
      bottom: 270px;
      inset-inline-end: -245px;
      transition-delay: 0.8s;
    }

    .purple-C {
      width: 467px;
      height: 382px;
      bottom: -100px;
      inset-inline-end: 125px;
      transform: rotate(-75deg);
      transition-delay: 0.8s;
    }
  }

  .screen-1 {
    background-color: rgba(21, 20, 26, 0.5);

    .section-main {
      z-index: 1;
      width: 504px;
      height: 503px;
      margin: auto;

      .main-content-inner {
        min-height: var(--main-content-min-height);
      }

      @media (max-width: $break-point-large) {
        width: 450px;
        height: auto;
      }

      @media (max-width: $break-point-medium) {
        width: 420px;
        height: auto;
      }
    }

    //Position of noodles on second screen
    .outline-L {
      width: 87px;
      height: 80px;
      transform: rotate(10deg) translate(-30%, 200%);
      transition-delay: 0.4s;
      z-index: 2;
    }

    .orange-L {
      width: 550px;
      height: 660px;
      transform: rotate(-155deg) translate(11%, -18%);
      transition-delay: 0.2s;

      @media (max-width: $break-point-large) {
        width: 448px;
        height: 568px;
        transform: rotate(-155deg) translate(12%, -21%);
      }
    }

    .purple-C {
      width: 310px;
      height: 260px;
      transform: translate(-18%, -67%);

      @media (max-width: $break-point-large) {
        width: 294px;
        height: 254px;
        transform: translate(-20%, -62%);
      }
    }

    .yellow-circle {
      width: 165px;
      height: 165px;
      border-radius: 50%;
      transform: translate(230%, -5%);
      background: #952BB9;
      transition-delay: -0.2s;

      @media (max-width: $break-point-large) {
        transform: translate(205%, -5%);
      }

      @media (max-width: $break-point-medium) {
        transform: translate(185%, -5%);
      }
    }
  }

  // Defining the timing of the transition-in for items within the dialog,
  // These longer delays are to allow for the dialog to slide down on first screen
  .dialog-initial {
    .brand-logo {
      transition-delay: 0.6s;
    }

    .welcome-text {
      transition-delay: 0.8s;
    }

    .colorway-variations,
    .tiles-theme-section {
      transition-delay: 0.9s;
    }

    .primary,
    .secondary-cta,
    .steps {
      transition-delay: 1s;
    }
  }

  // Delays for transitioning-in of intermediate screens
  .screen:not(.dialog-initial):not(.screen-0) {
    .colorway-variations,
    .tiles-theme-section {
      transition-delay: 0.2s;
    }

    .primary,
    .secondary-cta {
      transition-delay: 0.4s;
    }
  }

  .screen-2 {
    background-color: rgba(21, 20, 26, 0.5);

    .section-main {
      z-index: 1;
      width: 504px;
      height: 503px;
      margin: auto;

      .main-content-inner {
        min-height: var(--main-content-min-height);
      }

      @media (max-width: $break-point-large) {
        width: 450px;
        height: auto;
      }

      @media (max-width: $break-point-medium) {
        width: 420px;
        height: auto;
      }
    }

    // Position of noodles on third screen
    .outline-L {
      width: 87px;
      height: 80px;
      transform: rotate(250deg) translate(-420%, 425%);
      transition-delay: 0.2s;
      z-index: 2;

      @media (max-width: $break-point-large) {
        transform: rotate(250deg) translate(-400%, 280%);
      }
    }

    .orange-L {
      height: 800px;
      width: 660px;
      transform: rotate(35deg) translate(-10%, -7%);
      transition-delay: -0.4s;

      @media (max-width: $break-point-large) {
        height: 740px;
        width: 600px;
      }
    }

    .purple-C {
      width: 392px;
      height: 394px;
      transform: rotate(260deg) translate(-34%, -35%);
      transition-delay: -0.2s;
      fill: #952BB9;
    }

    .yellow-circle {
      width: 165px;
      height: 165px;
      border-radius: 50%;
      transform: translate(160%, 130%);
      background: #E7258C;
    }
  }

  .fancy-headings {
    h1 {
      font-size: 36px;
      line-height: unset;
      width: 410px;
      padding-bottom: 16px;
      position: relative;
      text-align: center;
      background-image: linear-gradient(90deg, #6173FF, #ED1D5F, #F6901E, #6173FF);
      background-size: 400% auto;
      color: #000;
      background-clip: text;
      -webkit-background-clip: text;
      animation: shine 50s linear infinite;

      @media (prefers-contrast: no-preference) {
        -webkit-text-fill-color: transparent;
      }
    }

    @keyframes shine {
      to {
        background-position: 400% center;
      }
    }

    h2 {
      margin: 10px 30px 0;
    }
  }

  &.transition-in {
    .noodle {
      opacity: 0;
      rotate: var(--rotate);
      scale: var(--scale);
    }

    .screen-0 {
      .brand-logo,
      .welcome-text,
      .primary,
      .secondary-cta:not(.top),
      .message-text {
        opacity: 0;
        translate: 0 var(--translate);
      }

      .attrib-text,
      .secondary-cta.top {
        opacity: 0;
      }
    }

    .dialog-initial {
      .main-content {
        translate: 0 calc(-2 * var(--translate));
      }

      .brand-logo,
      .steps {
        opacity: 0;
        translate: 0 calc(-1 * var(--translate));
      }
    }

    .screen:not(.dialog-initial):not(.screen-0) {
      .steps {
        opacity: 0.2;
      }
    }

    .screen:not(.screen-0) {
      .welcome-text,
      .colorway-variations,
      .tiles-theme-section,
      .primary,
      .secondary-cta:not(.top) {
        opacity: 0;
        translate: 0 calc(-1 * var(--translate));
      }
    }
  }

  &.transition-out {
    .noodle {
      opacity: 0;
      rotate: var(--rotate);
      scale: var(--scale);
      transition-delay: 0.2s;
    }

    .screen-0 {
      .message-text {
        opacity: 0;
        translate: 0 var(--translate);
      }

      .main-content {
        opacity: 0;
        translate: 0 var(--translate);
        transition-delay: 0.2s;
      }

      .solid-L {
        transition-delay: 0.4s;
      }

      .attrib-text,
      .secondary-cta.top {
        opacity: 0;
        transition-delay: 0.2s;
      }
    }

    .screen:not(.dialog-last):not(.screen-0) {
      .main-content {
        overflow: hidden;
      }

      .welcome-text {
        opacity: 0;
        translate: 0 var(--translate);
        transition-delay: 0.1s;
      }

      .colorway-variations,
      .tiles-theme-section {
        opacity: 0;
        translate: 0 var(--translate);
        transition-delay: 0.2s;

      }

      .primary,
      .secondary-cta:not(.top) {
        opacity: 0;
        translate: 0 var(--translate);
        transition-delay: 0.3s;
      }

      .steps {
        opacity: 0.2;
        transition-delay: 0.5s;
      }
    }

    .dialog-last {
      .noodle {
        transition-delay: 0s;
      }

      .main-content {
        opacity: 0;
        translate: 0 calc(2 * var(--translate));
        transition-delay: 0.4s;
      }
    }
  }

  // Styles particular to the RTAMO flow
  &.rtamo {
    background-color: var(--newtab-background-color-1);
    background: none;

    .screen {
      flex-flow: column nowrap;
      align-items: center;
    }

    .brand-logo {
      background: url('chrome://branding/content/about-logo.svg') top center / 112px no-repeat;
      width: 112px;
      padding: 112px 0 20px;
    }

    .welcome-text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 20px;

      h1,
      h2 {
        width: 860px;
        @media (max-width: $break-point-large) {
          width: 530px;
        }

        @media (max-width: $break-point-medium) {
          width: 430px;
        }
      }

      h1 {
        font-size: 48px;
        line-height: 56px;
        font-weight: bold;
        margin: 0 6px;
        color: var(--welcome-header-text-color-1);
      }

      h2 {
        font-size: 18px;
        font-weight: normal;
        margin: 10px 6px 0;
        color: var(--grey-subtitle-1);
        line-height: 28px;
        max-width: 750px;
        letter-spacing: -0.01em;
      }

      img {
        margin-inline: 2px;
        width: 20px;
        height: 20px;
      }

      .primary {
        font-size: 16px;
        padding: 12px 20px;
        margin: 20px 0 0;
        font-weight: inherit;
      }

      .secondary {
        background-color: initial;
        padding: 0;
        color: var(--newtab-button-secondary-color);
        margin-top: 14px;
        font-weight: inherit;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
